.homepage-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 2%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: black;
    background: url("../assets/space.gif");
    .homepage-container {
        width: 70%;
        margin: auto;
        &.millenial {
            & * {
                font-family: "Comic Sans MS";
            }
            .millenial-img {
                margin: 2%;
            }
            .menu-item {
                color: #045cee;
                background-color: black;
                border-color: #cbcbcb #4e474e #4e474e #cbcbcb;
                border-style: solid;
                border-width: 3px;
            }
            .contact-wrapper {
                width: 50%;
                margin: auto;
                margin-top: 2%;
                background-color: #4e474e;
                border-color: #cbcbcb #4e474e #4e474e #cbcbcb;
                border-width: 2px;
                border-style: solid;
            }
        }
        .title-wrapper {
            width: 50%;
            margin: auto;
            font-size: 3vw;

            h1 {
                text-align: center;
                background: linear-gradient(270deg, #fb0000, #eee904, #045cee, #06ee04, #ee0404);
                background-size: 200% auto;
                color: #000;
                background-clip: text;
                text-fill-color: transparent;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-animation: AnimationName 2s ease infinite;
                -moz-animation: AnimationName 2s ease infinite;
                animation: AnimationName 2s ease infinite;
                color: white;
            }
        }
        .menu-wrapper {
            width: 100%;
            display: inline-flex;
            justify-content: space-evenly;
            color: white;
            .menu-item {
                width: 50%;
                padding: 1%;
                box-sizing: border-box;
                border-radius: 4px;
                text-decoration: underline;
                &:hover {
                    cursor: pointer;
                    background-color: #eee904;
                }
            }
        }
    }
}

@-webkit-keyframes AnimationName {
    0%{background-position:31% 0%}
    50%{background-position:70% 100%}
    100%{background-position:31% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:31% 0%}
    50%{background-position:70% 100%}
    100%{background-position:31% 0%}
}
@keyframes AnimationName { 
    0%{background-position:31% 0%}
    50%{background-position:70% 100%}
    100%{background-position:31% 0%}
}