{
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "node": true,
      "jest": true
    },
    "rules": {
      "arrow-body-style": "off",
      "global-require": "off",
      "import/prefer-default-export": "off",
      "max-len": "off",
      "linebreak-style": "off",
      "comma-dangle": "off",
      "no-underscore-dangle": "off",
      "no-console": "off",
      "no-use-before-define": "off",
      "react/jsx-filename-extension": "off",
      "react/prefer-stateless-function": "off",
      "react/forbid-prop-types": "off",
      "jsx-a11y/href-no-hash": "off",
      "jsx-a11y/anchor-is-valid": [
        "warn",
        {
          "aspects": [
            "invalidHref"
          ]
        }
      ],
      "react/jsx-indent": "off",
      "react/jsx-indent-props": "off",
      "react/require-default-props": "off",
      "react/no-multi-comp": "off",
      "class-methods-use-this": "off",
      "no-bitwise": "off",
      "function-paren-newline": "off",
      "no-trailing-spaces": "off",
      "prefer-destructuring": "off",
      "react/sort-comp": "off",
      "quotes": "off",
      "indent": "off"
    },
    "extends": "airbnb",
    "globals": {
      "__DEV__": true
    }
  }