.home-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  .container {
    margin: auto;
    .title {
      display: inline-flex;
      h1 {
        background: url('../assets/trianglified.svg');
        background-size: 100% 100%;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-size: 350%;
        animation: h1-enter 0.3s ease-in;
        text-transform: uppercase;
        font-weight: 800;
        margin: 1%;
      }
    }
    h4 {
      color: rgb(97, 128, 165);
      animation: activity-enter 0.3s ease-in;
      text-shadow: 0px 0px 0.2px rgba(255, 255, 255, 0.6);
    }

    .nav {
      display: inline-flex;
      margin: 2% 0;

      .item {
        width: 100%;
        padding: 5%;
        background-color: rgb(255, 45, 85);
        border-radius: 10px;
        color: white;
        font-weight: bold;

        &:hover {
          cursor: pointer;
        }
      }
    }
    .social {
      img {
        width: 5%;
      }
    }
  }
}
@keyframes h1-enter {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes activity-enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
